

.size-drop-down{
    width:100%;
}

.product-info{
    font-size: 20px;
    margin-bottom: 10px;
}

.selected-option-div{
    margin-top: 20px;
    display: flex ;
    justify-content: center;
}
  
.selected-option-row {
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.deleted-product-error-message{
    margin-top: 20px;
}

.product-detail-btn-row {
    margin:10px 0px;
}

.add-button, .order-button{
    width: 100%;
}
  